%tr[project]
  %td= project.title
  %td
    = project.project_manager
    %br
    = mail_to project.project_manager_email
  %td= render :partial => 'hosts/host', :collection => project.hosts
  %td= link_to 'Detail', project
