- if user_signed_in?
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        = link_to 'Lifecycle Dashboard', root_path, :class => 'brand'
        %ul.nav
          %li
            = link_to 'Dashboard', root_path
          %li
            = link_to 'Projects', root_path
          %li
            = link_to 'New Project', new_project_path
        %ul.nav.pull-right
          %li
            = link_to 'Sign out', destroy_user_session_path, :method => :delete
